{% extends "base.html" %}

{% block head %}
    <title>Page3</title>
{% endblock %}

{% block body %}
<!--    <div style="width: 85%; display: flex; flex-direction: column; align-items: center; justify-content: flex-start;">-->
<!--        <h2 style="text-align: center;color:rgb(99, 99, 99);">1000 random tuples</h2>-->
<!--    </div>-->

    <div style="height: 50vh; width: 80%; display: flex; align-items: center; justify-content: center;">
        <form method="POST">
            <h2>Please enter details</h2>
            <label for="state">State: </label>
            <input type="text" id="state" name="state">
            <label for="min">Minimum: </label>
            <input type="number" id="min" name="min">
            <label for="max">Maximum: </label>
            <input type="number" id="max" name="max">
            <label for="inc">Amount to inc: </label>
            <input type="number" id="inc" name="inc">
            <input type="submit" value="Submit" placeholder="Submit"><br>
        </form>
    </div>


    {% if total_time %}
        <h2> Total time: {{total_time}}</h2>
        <h2> Count: {{count}}</h2>
        <ul style="list-style-type:none">
            {% for salpic in salpics %}
                <table>
                    <tr>
                        <td>{{salpic[0]}}</td>
                        <td>{{salpic[1]}}</td>
                        <td>{{salpic[2]}}</td>
                        <td>{{salpic[3]}}</td>
                        <td>{{salpic[4]}}</td>
                    </tr>
                </table>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}