{% extends "base.html" %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Page4a</title>
{% endblock %}

{% block body %}
<!--    <div style="width: 85%; display: flex; flex-direction: column; align-items: center; justify-content: flex-start;">-->
<!--        <h2 style="text-align: center;color:rgb(99, 99, 99);">1000 random tuples</h2>-->
<!--    </div>-->
    <form method="POST">
            <h2>Please enter details</h2>
            <label for="min">Minimum: </label>
            <input type="number" id="min" name="min">
            <label for="max">Maximum: </label>
            <input type="number" id="max" name="max">
            <input type="submit" value="Submit" placeholder="Submit"><br>
        </form>
    {% if instance %}
    <div style="height: 50vh; width: 80%; display: flex; align-items: center; justify-content: center;">
        <label style="color:rgb(99, 99, 99);">Seconds  </label>
		<canvas id="myChart"></canvas>
	</div>

    <script>
		const labels = {{ instance | tojson}}.map(label => 'Trial ' + label);

		const data = {
			labels: labels,
			datasets: [{
				label: 'Redis Cache',
				backgroundColor: 'rgb(255, 99, 132)',
				borderColor: 'rgb(255, 99, 132)',
				data: {{ instance_time | tojson}},
			}, {
              label: 'Database',
              backgroundColor: 'rgb(54, 162, 235)',
              borderColor: 'rgb(54, 162, 235)',
              data: {{ redis_time | tojson }},
            }]
		};

		const config = {
			type: 'line',
			data: data,
			options: { maintainAspectRatio: false}

		};

		const myChart = new Chart(
			document.getElementById('myChart'),
			config
		);

	</script>

<!--            <ul style="list-style-type:none">-->
<!--                {% for salpic in salpics %}-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td>{{salpic[0]}}</td>-->
<!--                            <td>{{salpic[1]}}</td>-->
<!--                            <td>{{salpic[2]}}</td>-->
<!--                            <td>{{salpic[3]}}</td>-->
<!--                            <td>{{salpic[4]}}</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                {% endfor %}-->
<!--            </ul>-->
    {% endif %}
{% endblock %}